@use "_base" as *;

.calculator {
    max-width: 100vw;
    height: 98vh;
    background-color: $color-secondary;
    border: 2px solid $color-secondary;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "output output output output"
    "AC AC percentage divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero decimal equals";

    &__heading {
        height: 0em;
        color: $color-secondary;
    }
    &__output {
        grid-area: output;
        font-size: 30px;
        padding-top: 8vh;
        padding-right: 1vw;
        text-align: end;
        border-radius: 10px;
        background-color: $color-tertiary;
        color: $color-white;
    }
    &__button {
        font-size: 50px;
        border-radius: 30px;
        color: $color-white;
        background-color: $color-primary;
        border: 2px solid $color-secondary;
        transition: background-color 0.15s;
        &:hover {
            background-color: $color-hover;
        }
    }
    #calculator-AC {
        grid-area: AC;
        margin-top: 5px;
        background-color: $color5;
    }
    &__percentage {
        grid-area: percentage;
        margin-top: 5px;
        background-color: $color5;
    }
    &__divide {
        grid-area: divide;
        margin-top: 5px;
        background-color: $color4;
    }
    &__7 {
        grid-area: seven;
    }
    &__8 {
        grid-area: eight;
    }
    &__9 {
        grid-area: nine;
    }
    &__multiply {
        grid-area: multiply;
        background-color: $color4;
    }
    &__4 {
        grid-area: four;
    }
    &__5 {
        grid-area: five;
    }
    &__6 {
        grid-area: six;
    }
    &__minus {
        grid-area: minus;
        background-color: $color4;
    }
    &__1 {
        grid-area: one;
    }
    &__2 {
        grid-area: two;
    }
    &__3 {
        grid-area: three;
    }
    &__plus {
        grid-area: plus;
        background-color: $color4;
    }
    &__0 {
        grid-area: zero;
    }
    &__decimal {
        grid-area: decimal;
    }
    &__equals {
        grid-area: equals;
        background-color: $color4;
    }
}