@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans Pinstripe";
  font-weight: bolder;
}

.calculator {
  max-width: 100vw;
  height: 98vh;
  background-color: #067474;
  border: 2px solid #067474;
  border-radius: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "output output output output" "AC AC percentage divide" "seven eight nine multiply" "four five six minus" "one two three plus" "zero zero decimal equals";
}
.calculator__heading {
  height: 0em;
  color: #067474;
}
.calculator__output {
  grid-area: output;
  font-size: 30px;
  padding-top: 8vh;
  padding-right: 1vw;
  text-align: end;
  border-radius: 10px;
  background-color: darkslategray;
  color: white;
}
.calculator__button {
  font-size: 50px;
  border-radius: 30px;
  color: white;
  background-color: darkcyan;
  border: 2px solid #067474;
  transition: background-color 0.15s;
}
.calculator__button:hover {
  background-color: #36696b;
}
.calculator #calculator-AC {
  grid-area: AC;
  margin-top: 5px;
  background-color: #9f9b24;
}
.calculator__percentage {
  grid-area: percentage;
  margin-top: 5px;
  background-color: #9f9b24;
}
.calculator__divide {
  grid-area: divide;
  margin-top: 5px;
  background-color: #7c8000;
}
.calculator__7 {
  grid-area: seven;
}
.calculator__8 {
  grid-area: eight;
}
.calculator__9 {
  grid-area: nine;
}
.calculator__multiply {
  grid-area: multiply;
  background-color: #7c8000;
}
.calculator__4 {
  grid-area: four;
}
.calculator__5 {
  grid-area: five;
}
.calculator__6 {
  grid-area: six;
}
.calculator__minus {
  grid-area: minus;
  background-color: #7c8000;
}
.calculator__1 {
  grid-area: one;
}
.calculator__2 {
  grid-area: two;
}
.calculator__3 {
  grid-area: three;
}
.calculator__plus {
  grid-area: plus;
  background-color: #7c8000;
}
.calculator__0 {
  grid-area: zero;
}
.calculator__decimal {
  grid-area: decimal;
}
.calculator__equals {
  grid-area: equals;
  background-color: #7c8000;
}

@media screen and (min-width: 720px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .calculator {
    width: 30vw;
    height: 85vh;
  }
  .calculator__heading {
    height: 1.2em;
    font-size: 50px;
    margin: 5px;
    color: darkslategray;
  }
  .calculator__button {
    font-size: 35px;
  }
}