@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

$font: "Alumni Sans Pinstripe";
$color-primary: darkcyan;
$color-secondary: rgb(6, 116, 116);
$color-tertiary: darkslategray;
$color-hover: rgb(54, 105, 107);
$color-white: white;

* {
    margin: 0;
    padding: 0;
    font-family: $font;
    font-weight: bolder;
}

.calculator {
    width: 100vw;
    height: 100vh;
    background-color: $color-secondary;
    border: 2px solid $color-secondary;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "output output output output"
    "AC AC percentage divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero decimal equals";

    &__heading {
        height: 0em;
    }
    &__output {
        grid-area: output;
        font-size: 30px;
        padding-top: 8vh;
        padding-right: 1vw;
        text-align: end;
        border-radius: 10px;
        background-color: $color-tertiary;
        color: $color-white;
    }
    &__button {
        font-size: 50px;
        border-radius: 30px;
        color: $color-white;
        background-color: $color-primary;
        border: 2px solid $color-secondary;
        transition: background-color 0.15s;
        &:hover {
            background-color: $color-hover;
        }
    }
    #calculator-AC {
        grid-area: AC;
    }
    &__percentage {
        grid-area: percentage;
    }
    &__divide {
        grid-area: divide;
    }
    &__7 {
        grid-area: seven;
    }
    &__8 {
        grid-area: eight;
    }
    &__9 {
        grid-area: nine;
    }
    &__multiply {
        grid-area: multiply;
    }
    &__4 {
        grid-area: four;
    }
    &__5 {
        grid-area: five;
    }
    &__6 {
        grid-area: six;
    }
    &__minus {
        grid-area: minus;
    }
    &__1 {
        grid-area: one;
    }
    &__2 {
        grid-area: two;
    }
    &__3 {
        grid-area: three;
    }
    &__plus {
        grid-area: plus;
    }
    &__0 {
        grid-area: zero;
    }
    &__decimal {
        grid-area: decimal;
    }
    &__equals {
        grid-area: equals;
    }
}

@media screen and (min-width: 720px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .calculator {
        width: 30vw;
        height: 85vh;

        &__heading {
            height: 1.2em;
            font-size: 50px;
            margin: 5px;
            color: $color-tertiary;
        }   

        &__button {
            font-size: 25px;
        }
    }
}
